@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .customButton {
    @apply px-5 py-2 m-1 border border-customGray rounded-xl uppercase text-sm tracking-wider transition-all hover:border-customTeal hover:text-customTeal;
  }

  .sectionHeader {
    @apply text-customTeal absolute top-20 md:top-24 uppercase tracking-[1.3rem] text-2xl md:text-3xl mr-[-1.3rem];
  }

  /* mr-[-20px] */
  .customInput {
    @apply outline-none px-4 py-2 bg-customGray focus:bg-customDarkGray border-b-2 rounded-sm border-customTeal/75 text-customTeal/75 focus:border-customTeal focus:text-customGray placeholder:text-customDark/50 focus:placeholder:text-customTeal/75;
  }
}
